@font-face {
    font-family: Oswald;
    src: url(../font/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: Lora;
    src: url(../font/Lora-VariableFont_wght.ttf);
}

@font-face {
    font-family: Questrial;
    src: url(../font/Questrial-Regular.ttf);
}

body {
    font-family: "Century Gothic", Questrial; 
}

.oswald {
    font-family: Oswald;
}

.lora {
    font-family: Lora;
}

.btn-outline-dark {
    background-color: white;
}